<% layout('/layouts/boilerplate') -%>

<div class="mb-search d-md-none mt-3 mb-3">
  <form class="d-flex" role="search">
    <input class="form-control me-2 search-input" type="search" placeholder="Search Destination" aria-label="Search">
    <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
  </form>
</div> 

<div class="filter-section mt-3" >
  <div id="filters-wrapper" >
    <div id="filters">
      <div class="filters mb-2" onclick="filterListings('AmazingPools')">
          <i class="fa-solid fa-water-ladder "></i>
          <h6>Amazing Pools</h6>
      </div>
      <div class="filters" onclick="filterListings('Arctic')">
          <i class="fa-solid fa-snowflake "></i>
          <h6>Arctic</h6>
      </div>
      <div class="filters" onclick="filterListings('Hillstations')">
          <i class="fa-solid fa-mountain-city "></i>
          <h6>Hillstations</h6>
      </div>
      <div class="filters" onclick="filterListings('Mansion')">
          <i class="fa-solid fa-city color"></i>
          <h6>Mansion</h6>
      </div>
      <div class="filters" onclick="filterListings('Islands')">
          <i class="fa-solid fa-umbrella-beach "></i>
          <h6>Islands</h6>
      </div>
      <div class="filters" onclick="filterListings('Worship')">
          <i class="fa-solid fa-place-of-worship "></i>
          <h6>Worship</h6>
      </div>
      <div class="filters" onclick="filterListings('Forts')">
          <i class="fa-brands fa-fort-awesome "></i>
          <h6>Forts</h6>
      </div>
      <div class="filters" onclick="filterListings('Beachfront')">
          <i class="fa-solid fa-house-flood-water "></i>
          <h6>Beachfront</h6>
      </div>
      <div class="filters" onclick="filterListings('Farms')">
          <i class="fa-solid fa-tractor "></i>
          <h6>Farms</h6>
      </div>
      <div class="filters" onclick="filterListings('Rooms')">
          <i class="fa-solid fa-person-booth "></i>
          <h6>Rooms</h6>
      </div>
  </div>
    <hr/>
      </div>
      <!-- <div class="switch">
        <div class="form-check form-switch form-check-reverse">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Total before Tax</label>
        </div>
    </div>  -->
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mx-4 mt-3">
  <% if (allListings.length === 0) { %>
    <div class="col">
        <h3>No listings found.</h3>
    </div>
  <% } else { %>
    <% for(list of allListings) { %>
    <a href="/listing/<%=list._id %>" class="listing-link">
      <div class="card listing-card col">
        <img src="<%= list.img.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <b><%= list.title %></b><br />
          &#x20B9;<%= list.price.toLocaleString("en-in") %> /night
            <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
        </div>
      </div>
    </a>
  <% } %>
  <% } %>

</div>


<script>
    function filterListings(type) {
      window.location.href = `/listing?type=${type}`;
  }

  // let toggle = document.getElementById('flexSwitchCheckDefault');
  // toggle.addEventListener("click",()=>{
  //     let taxInfo =document.getElementsByClassName("tax-info")
  //     for(info of taxInfo){
  //       if(info.style.display !="inline"){
  //         info.style.display = "inline";
  //       }else{
  //         info.style.display = "none";
  //       }
  //     }
  // })
</script>
