<% layout('/layouts/boilerplate') -%>

  <h3 class="mx-3 mt-3">All Listings</h1>
    
    <!-- <form method="get" action="/listing/new">
        <button>Add New Place</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mx-4">
    <% for(list of allListings) { %>
        <a href="/listing/<%=list._id %>" class="listing-link">
        <div class="card listing-card col">
          <img src="<%= list.img %>" class="card-img-top" alt="listing_image" style="height: 20rem;"/>

            <div class="card-img-overlay"></div>

            <div class="card-body">
              
            <b><%= list.title %></b><br/>
            &#x20B9;<%= list.price.toLocaleString("en-in") %> /night
            <p class="card-text"></p>
            </div>
          </div>
        </a>
      <% } %>
    </div>
